
html, body {
    height: 100%;
}

.map {
    height: 100%;
}

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
}
.loading__text {
    font-size: 2em;
    color: #FFF;
    text-align: center;
    margin-top: 360px;
}
