/**
 *@author: Junior
 */
@CHARSET "UTF-8";
nav {
	text-align: right;
	display: inline-block;
	width: 100%;
}
nav ul {
	list-style-type: none;
}

nav li{
	display: inline-block;
	margin-right: 5px;
}

#left_content,#result_table, #myTable{
	width: 280px;
	min-width:280px;
	max-width: 280px;
}

#left_content{
	float: left;
  margin-right: 20px;
}

#result_table, #myTable{
	border: 1px solid black;
	border-radius: 10px;
	/* border-collapse: collapse; */
	overflow: scroll;
}

#result_table{
	margin-top: 30px;
}

#my_pushBtn{
	float: right;
}

#myTable{
 margin-top: 2px; 
}


#right_content{
	width: 800px;
	min-width: 800px;
	max-width: 800px;
	min-height: 400px;
	position: relative; 
	left: 50px;
	overflow: auto;
}


#title, #developer_info, #left_content{
	text-align :left;
}


footer,header{
	border: 1px solid black;
	border-radius: 10px;
}
