@{
    ViewBag.Title = "LibraryMS";
}

<p>
   LibraryMS is a system which allows you to efficiently manage 
   the books in your library.
</p>
<p>
    If you don't have an account, you will need first to create one by 
    clicking on the register button. Then follow the steps which are presented
    to you. If you already have an account, then just log on to the system.
</p>
<p>
    we would like you to help us improve the system. Please send us feedbacks
    and errors.
</p>
